body{
	margin: 0;
	padding: 0;
	background-color: #440F8F;
	color: #fff;
	font-family: roboto, sans-serif;
}

#container{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.opponents, 
.score-match,
.bottom-section{
	display: flex;
	padding: 70px;
	font-size: 48px;
	font-weight: 500;
	margin-bottom: 40px;

} 

.score-match{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

.opponents {
	border: 30px solid yellow;
	border-radius: 10px;

}

.score-match .title {
	margin: 0 100px;
}

.bottom-section #choices {
	margin: 0 100px;
}

.opponents > div {
	margin: 0 100px;
}


button {
	background: none;
	border: #fff;
	background-color: yellow;
	padding : 12px 24px;
	font-size: 32px;
	font-weight: 800;
	color : #000;
	border-radius: 10px;

}

#player-victories, #machine-victories{
	padding: 12px 24px;
	border: 5px solid yellow;
	border-radius: 10px;
}

.unicode{
	font-size: 15rem;
}

.shakePlayer {
	 animation: shakePlayer 0.3s forwards 2; 
}

.shakeMachine {
	 animation: shakeMachine 0.3s forwards 2; 
}

@keyframes shakePlayer {
	  0% { transform:  rotate(-70deg); }
	  50% { transform: translate(10px, 100px) rotate(0deg); }
}

@keyframes shakeMachine {
	  0% { transform: rotate(70deg); }
	  50% { transform: translate(10px, 100px) rotate(0deg); }

}